*{
    padding: 0;
    margin: 0;
   
}
body{
    background-color: #788fb2;
 	padding: 5px 0;
}

.offcn {

    top: 2px;
    left: 8px;
    z-index: 9;
    background-color: #26347b;
    display: none;
    position: fixed;
    /* border: 1px solid red; */
    border-radius: 20px;
    overflow-x: hidden;
    /* transition: 2s; */


} 

.offcn a {
    display: block;
    border-top: 1px solid gold;

    padding: 20px 10px;


}

.offcn a span {
    color: white;

}

.mybar {
    display: none;
}

.rtl{
    direction: rtl;
    text-align: justify;
}
a:hover{
    text-decoration: none;
    
    
}

/* TODO: header start */
.header{
    background-color: #FEF5AC;
    padding: 10px 0;
}
.header .container a{
    text-decoration: none;
    color: #5F6F94;

}
.header a .fa{
    font-size: 25px;
    color:#25316D;
}
ul li{
    list-style: none;
}

/* FIXME: header End */

/* TODO: section-1 start */

.section-1{
    background-color: #97D2EC;
    color: #25316D;

}
.section-1 .search-box{
    border-radius: 20px;
    /* border: 1px solid red;    */
    background-color: white;
    padding: 5px 10px;
    position: relative;
    overflow: hidden;


}
.section-1 .search-box input:focus{
    outline: none;
}
.section-1 .search-box input{
    direction: rtl;
    border: none;
}
.section-1 .search-box .fa{
    font-size: 25px;
    color: white;
}
.section-1 .search-box span{
    background-color: #5F6F94;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
/* FIXME: section-1 End */

/* TODO: section-2 start */
.section-2 .col-one a{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.section-2 .col-one,.col-two,.col-three{
    background-color: #FEF5AC;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px #26347b;
    max-height: 50vh;
    /* width: 300px; */
    overflow-y: auto;
   
    
     
   
    
}

.section-2 .col-one::-webkit-scrollbar,.col-two::-webkit-scrollbar,.col-three::-webkit-scrollbar{
    /* display: none; */
  
   
    width: 10px;
   
   
   
 }

 .section-2 .col-one::-webkit-scrollbar-track,.col-two::-webkit-scrollbar-track,.col-three::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
   /* border-radius: 10px ; */

  }

.section-2 .col-one::-webkit-scrollbar-thumb,.col-two::-webkit-scrollbar-thumb,.col-three::-webkit-scrollbar-thumb{
    background: #97D2EC;
     border-radius: 20px;

}



.section-2 .col-three .fa, .col-two .fa{
    color: #97D2EC;
}
.section-2 h5,h6,span, .section-2 div a{
    color: #25316D;
}
.section-2 .col-two{
    border: 1px solid seashell;
}

.section-2 .col-two ul li , .section-2 .col-three .box{
    margin: 5px 0;
    
    padding: 5px;
    border-radius: 10px;
    /* background-color: #97D2EC; */
    box-shadow: 0 0 4px 2px #26347b;
}
.section-2 .col-two button , .section-2 .col-three button{
    background-color: #25316D;
    border-radius: 5px;
    color: #97D2EC;
    padding: 0 3px;
    margin: 0 2px;
}

.section-2 .col-three button {
    font-size: 12px;
   
   
}
.section-2 .col-four{
    background-color: #25316D;
    border-radius: 10px;
  
}
.section-2 .col-four h5, h6{
    color: white;
}

.section-2 button{
    background-color: #FEF5AC;
    color: #25316D;
    border-radius: 10px;
    padding: 2px 5px;
    border: none;
   
}




/* FIXME: section-2 end */


/* TODO: footer start */









.footer .first ul li , .footer .first .heading{
    direction:rtl;
    list-style: none;
   
    text-align: justify ;
    display: block;
 
   
}

.footer .first .second-colum ul li {
  
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;

}

.footer .first .second-colum ul .fa-arrow-circle-left{
    margin-left: 5px;
    font-size: 18px;

}
.footer .icon{
    font-size: 25px;
    margin: 5px;
    box-shadow: 0 0 10px 5px #645CAA;
    border-radius: 100%;
    padding: 10px;
    background-color: #FEF5AC;
   
}
.footer .first button{
    background-color: #FEF5AC;
    color: #25316D;
    border-radius: 20px;
}
.footer .first{
    background-color: #26347b;
   
    box-sizing: border-box;
}
.footer .first li, a,.heading,p,button{
    color: white;
}
.footer a:hover{
    color: white;
}
.footer .first-colum,.second-colum,.third-colum,.four-colum{
    border: 1px solid #645CAA;
    /* box-shadow: 0 0 10px 7px #645CAA; */
    border-radius: 20px;
    margin-top: 10px;
    background-color: #25316D;
   
}

/*TODO: question page 
qustionbox start */

.questionbox{
    background-color: #FEF5AC;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 0 4px 5px #26347b;
}
.questionbox input,textarea {
    box-shadow: 0 0 3px 2px #25316D;
    
  
}
.questionbox label , h4{
    color: #25316D;
    font-weight: bold;
}

.questionbox button {
    background-color: #26347b;
    border-radius: 10px;
    color: #FEF5AC;
    padding: 5px 8px;
    border:none;
    box-shadow: 0  0 4px 4px white;

}

/* TODO: previous answer question */

.showanswer .content
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 10px 10px #26347b;
    border: 1px solid ghostwhite;
}

.showanswer .content p,h6{
    color: #25316D;
}
.showanswer .content .heading{
    background-color: #D2DAFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.showanswer  .content .question{
    margin-top: 50px;
    background-color: #FEF5AC;
}
.showanswer  .content button, .showanswer  .content .fa{
    color: #FEF5AC;
    background-color: #25316D;
    padding: 5px;
    border-radius: 10px;
    border: none;

}

@media screen and  (max-width:672px) {
    .showanswer .content h4{
        font-size: 17px;
        padding: 5px;
    }
 .showanswer p{
    font-size: 12px;
 }
    
}



